:root {
  /* Fonts */
  --text-font-family: 'Fira Sans';
  --text-font-family-fallback: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial;
  --text-font-base: sans-serif;
  --header-font-family: 'Zilla Slab';
}

body {
  font-family: var(--text-font-family), var(--text-font-family-fallback), var(--text-font-base);
}

.navbar-brand {
  font-family: var(--header-font-family), var(--text-font-family), var(--text-font-family-fallback), var(--text-font-base);
  font-weight: 600;
  font-size: 20px;
}

table {
  font-variant-numeric: tabular-nums;
}

.ReactTable .rt-table {
  font-variant-numeric: tabular-nums;
}

.value-box .value {
  font-size: 32px;
  font-weight: 600;
  font-variant-numeric: tabular-nums;
  text-align: right;
  margin-right: 36%;
}

.value-box .caption {
    text-align: right;
}

div.description-text {
  line-height: 1.6;
  margin: 0 0 12px;
}